---
import MainLayout from "@/layouts/MainLayout.astro";
import AppCard from "@/components/AppCard.astro";

const data = [
  {
    icon: "✋",
    accentColor: "bg-theme-sunbeam",
    title: "Collect Feedback at Multiple Touchpoints",
    description: "Provide a comprehensive understanding of the customer experience.",
    image: "/src/assets/photo_2@2x.png",
  },
  {
    icon: "🥅",
    accentColor: "bg-theme-sky",
    title: "Ask Targeted and Specific Questions",
    description: "Avoid vague or open-ended questions that may not yield actionable insights.",
    image: "/src/assets/photo_1@2x.png",
  },
  {
    icon: "💬",
    accentColor: "bg-theme-blush",
    title: "Prioritize and Respond to Feedback",
    description:
      "Communicate the changes or improvements you've made in response to their feedback.",
    image: "/src/assets/photo_3@2x.png",
  },
];
---

<MainLayout
  title="devChallenges | Simple Feature Section"
  description="A devChallenges.io coding challenge."
>
  <section
    class="bg-theme-midnight min-h-screen bg-[url('/Background_image.svg')] p-13"
    role="region"
    aria-labelledby="feature-section-title"
  >
    <div class="mx-auto flex w-84 flex-col items-center gap-4 md:w-md">
      <h1 id="feature-section-title" class="text-center text-[2.5rem] leading-12 font-semibold">
        Quality feedbacks for your SaaS products
      </h1>
      <p class="text-theme-slate text-center">The blocks & components you need</p>
    </div>
    <div
      class="mt-12 flex flex-col flex-wrap items-center justify-center gap-8 md:flex-row md:items-stretch"
    >
      {
        data.map((item) => (
          <AppCard
            accentColor={item.accentColor}
            icon={item.icon}
            title={item.title}
            description={item.description}
            image={item.image}
          />
        ))
      }
    </div>
  </section>
</MainLayout>
