---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  icon: string;
  accentColor: string;
  title: string;
  description: string;
  image: string;
}

const { icon, accentColor, title, description, image }: Props = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[image]) throw new Error(`"${image}" does not exist in glob: "@/assets/*.jpg}"`);
---

<article
  class="bg-theme-obsidian shadow-theme flex w-80 flex-col gap-4 rounded-xl p-6"
  role="region"
  aria-labelledby="appcard-title"
>
  <div
    class:list={["flex size-13 items-center justify-center rounded-full text-xl", accentColor]}
    aria-hidden="true"
  >
    {icon}
  </div>
  <h2 id="appcard-title" class="text-xl leading-6 font-semibold">{title}</h2>
  <p class="text-theme-silver w-5/6 leading-5 font-light">{description}</p>
  <Image
    src={images[image]()}
    alt={title}
    loading="eager"
    quality={"max"}
    class="mt-auto h-[190px] w-full rounded-xl"
  />
</article>
