---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  icon: string;
  title: string;
  description: string;
  image: string;
}

const { icon, title, description, image }: Props = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[image]) throw new Error(`"${image}" does not exist in glob: "@/assets/*.jpg}"`);
---

<article class="bg-theme-obsidian shadow-theme flex w-80 flex-col gap-4 rounded-xl p-6">
  <div class="flex items-center gap-2">
    <span class="text-2xl">{icon}</span>
  </div>
  <h2 class="text-xl font-bold">{title}</h2>
  <p>{description}</p>
  <Image
    src={images[image]()}
    alt={title}
    width={267}
    height={193}
    loading="eager"
    format="webp"
    class="mt-auto w-full rounded-xl"
  />
</article>
